body{
    /*Asignando una familia de fuentes para nuestro texto*/
    font-family: Georgia, Times, serif;
    color: #333;
    font-size: 1.2em; 
    line-height: 1.3em;
}

h1{
    font-size: 2rem ; /*cuando especificamos valor relativo en relación a la raíz*/
    line: height 1.3em; /*cuando especificamos valor relativo de acuerdo al tamaño x default*/
}


p{
    margin-bottom: 1.6rem; /**/
}


.container{
    width: 85%; /*Con este valor indicamos que se extienda hasta el 85% del navegador*/
    max-width: 850px; /*con un ancho máximo de 850 pixeles*/
    margin: 0 auto; /*Agregamos un margen de 0 arriba y abajo y automatico a los lados*/
}


.header{
    background: pink;
    color: white;
    padding: 2rem 0; /*agregando relleno proporción de 2 (arriba y abajo)y de los lados se coloca en 0*/
}

    .header a{
        color: white;
        text-decoration: none;/*quitamos el subrayado que marca el enlace*/
    }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center; /*centrando los elementos del contenedor*/
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.4cm;
}
.navigation{
    width: 100%;
    margin-top: 1rem;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}
    .navigation ul li a{
        display: block;
        padding: 0.5 rem 1rem ;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .navigation ul li a:hover{
background-color: blueviolet;
    }

    .main{
        padding-top: 12rem ;
    }
    .footer{
        background-color: pink;
        padding: 4rem 0;
        text-aling: center;
        margin-top: 6rem;
    }

@media  screen and (max-width:767px) {
    .navigation ul li {
        display: block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5 rem 1rem ;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
        .navigation ul li a:hover{
    background-color:#4d7d90;
        }
}

.footer-container{
    display: inline-block;
    justify-content: space-between;
}
.redes-sociales .bubble i{
    color: #ccc;
    padding: 12px 0;
}

.redes-sociales .bubble:hover i{
    color: violet;
}